.navbar {
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}